{{#partial "pagename"}}
    {{username}}, from here you can view {{departments.name}}'s details
{{/partial}}

{{#partial "content"}}
    <h3>
        Department name: {{departments.name}}
    </h3>

    <br>
    <br>
        <hr>
            {{departments.name}} has a total of {{users}} employees.
{{/partial}}


{{>layout.hbs}}