{{#partial "pagename"}}
    {{username}}, these are the details for the <span style="font-weight:bold;"> {{news.title}} </span> news item.
{{/partial}}

{{#partial "content"}}

    <div style="background-color:wheat; padding:20px; margin:10px; border-radius:15px; color:black;">
        <hr>

        <ul>
            <li>News title: {{news.title}}</li>
            <li>Addressed to: {{news.type}}</li>
            <li>Urgency: {{news.urgency}}</li>
            <br>
            <li> <p> Content: {{news.content}} </p> </li>
            <br>
            <li>Posted by: {{users.name}}</li>
            <li>Posted on: {{news.formattedCreatedat}}</li>
        </ul>

        <hr>
    </div>

{{/partial}}

{{#partial "buttons"}}
    <form action="/news/{{news.id}}/delete" method="post">
        <button type="submit" class="btn btn-danger"> Delete {{news.title}} </button>
    </form>
{{/partial}}

{{>layout.hbs}}